{% extends 'base.html.twig' %}

{% block extrastyles %} <link rel="stylesheet" href="{{ asset('css/create.css') }}">{% endblock %}

{% block header %}
  Créer un événement
{% endblock %}

{% block body %}

    {{ form_start(eventForm) }}
  <div class="form-main">
    <div class="column-left">
      {{ form_widget(eventForm.name) }}
      {{ form_widget(eventForm.startsAt) }}
      {{ form_widget(eventForm.cutOffDate) }}
      {{ form_widget(eventForm.capacity) }}
      {{ form_widget(eventForm.duration) }}
      {{ form_widget(eventForm.eventInfo) }}
    </div>
    <div class="column-right">
        {{ form_widget(eventForm.campus) }}
{#      <p>Campus : {{ app.user.campus.name }}</p>#}
      <div class="city-box">
        {{ form_widget(eventForm.Location) }}
{#        {{ form_widget(eventForm.addLocale, {'href' : "{{ path('event/modal') }}" }) }}#}
        <button id = "showModal">Ajouter Lieu</button>
      </div>
      {{ form_widget(eventForm.city) }}
      <p id="rue"></p>
      <p id="codePostal"></p>
      {{ form_widget(eventForm.latitude) }}
      {{ form_widget(eventForm.longitude) }}
    </div>
  </div>
  <div class="button-group">
{#    <input type="submit" name="">#}
    {{ form_widget(eventForm.save) }}
    {{ form_widget(eventForm.publish) }}
    {{ form_widget(eventForm.annuler) }}
  </div>
  {{ form_end(eventForm) }}
{% endblock %}

{% block modal %}
  <div class="modal" id="modal">
    <div class="modal__container">
      {{path('event_modal') }}
    </div>
  </div>
{% endblock %}

{% block javascript %}
{#<script src="{{ asset('js1/villeLocations.js') }}" defer></script>#}
    <script src="{{ asset('js1/villeLocations.js') }}" defer></script>
{#    <script src="{{ asset('js1/modal.js') }}" defer></script>#}
{% endblock %}