{% extends 'base.html.twig' %}

{% block title %}
<h2> {{ event.name }}
{% endblock %}

{% block body %}
 <h2> Nom de la sortie : {{ event.name }} </h2>

 <p> Date et heure de la sortie : {{ event.startsAt | date }}</p>
 <p> Date limite d'inscription : {{ event.cutOffDate | date }}</p>
 <p> Nombre de places : {{ event.capacity }}</p>
 <p>  Description et infos : {{ event.eventInfo }}</p>
 <p> Etat :{{ event.status }}</p>
 <p> Campus : {{ event.Campus.name }}</p>
 <p> Lieu : {{ event.Location.name }}</p>
 <p> Rue: {{ event.Location.streetAddress }}</p>







{% endblock %}