{% extends 'base.html.twig' %}

{% block extrastyles %}
{% endblock %}

{% block header %}Liste des sorties{% endblock %}

{% block body %}

    <div id="filterBar">
        <div class="bar">
                {{ form_start(filterForm) }}
                Rechercher une sortie : {{ form_widget(filterForm.name) }}
                Campus : {{ form_widget(filterForm.campus) }}
                Entre le : {{ form_widget(filterForm.fromDate) }}
                et le : {{ form_widget(filterForm.toDate) }}
        </div>
        <div class="bar">
                Sorties dont je suis l'organisateur/trice : {{ form_widget(filterForm.isTheOrganiser) }}
                Sorties auxquelles je suis inscrit/e : {{ form_widget(filterForm.eventAttendenceTrue) }}
                Sorties auxquelles je ne suis pas inscrit/e :{{ form_widget(filterForm.eventAttendenceFalse) }}
                Sorties passées: {{ form_widget(filterForm.pastEvent) }}
        </div>

    <button>Rechercher</button>
    {{ form_end(filterForm) }}
    </div>





    <div id="tableEvent">

        <table>
            <thead>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Cloture</td>
            <td>Inscrits/Places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
            </thead>
            <tbody>

            {% for event in events %}

                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.startsAt | date('d-m-y à H:i') }}</td>
                    <td>{{ event.cutOffDate | date('d-m-y') }}</td>
                    <td>{{ event.eventAttendence | length }}/{{ event.capacity }}</td>
                    <td>{{ event.status }}</td>
                    <td>


                        {% if app.user in event.eventAttendence %}
                            <i class="fa-solid fa-check" id="checkInscription"></i>

                        {% endif %}


                    </td>
                    <td>{{ event.organiser.username }}</td>
                    <td>
                        {% if app.user == event.organiser %}

                            {% if event.reason is null %}
                                <a href="{{ path('event_detail', {'id': event.id}) }}" title="modifier la sortie">

                                    Modifier </a> -
                                <a href="{{ path('event_cancel', {'id': event.id}) }}" title="annuler la sortie">

                                    Annuler </a>
                            {% endif %}
                            {% if event.reason is not null %}
                                <a href="{{ path('event_detail', {'id': event.id}) }}" title="modifier la sortie">

                                    Afficher </a> ANNULEE
                            {% endif %}

                        {% endif %}

                        {% if app.user != event.organiser %}
                            <a href="{{ path('event_detail', {'id': event.id}) }}" title="voir le détail de la sortie">
                                Afficher </a> -

                            {% if event.status == 'ouvert' %}


                                {% if app.user not in event.eventAttendence %}
                                    <a href="{{ path('event_participate', {'id': event.id}) }}"> S'inscrire </a>
                                {% else %}
                                    <a href="{{ path('event_removeParticipate', {'id': event.id}) }}">Se désister</a
                                {% endif %}
                            {% endif %}

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>

    <div>
        <button><a href="{{ path('event_create') }}" title="créer une sortie">Créer une sortie</a></button>
    </div>

{% endblock %}

