{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
{% endblock %}

{% block body %}

    <div class="dateOfTheDay"> <i class="fa-solid fa-clock"></i> {{ dateOfTheDay | date('d-m-Y') }}</div>


    <div id="filterBar">

        <div id="bar1">
            {{ form_start(filterForm) }}

            <div class="inputGroup">{{ form_label(filterForm.name) }} {{ form_widget(filterForm.name) }} </div>
            <div class="inputGroup">{{ form_label(filterForm.campus) }} {{ form_widget(filterForm.campus) }}</div>
            <div class="inputGroup">{{ form_label(filterForm.fromDate) }} {{ form_widget(filterForm.fromDate) }}</div>
            <div class="inputGroup"> {{ form_label(filterForm.toDate) }} {{ form_widget(filterForm.toDate) }}</div>
        </div>


        <button id="filterButton">Rechercher</button>
        <div id="bar2">
            <div class="inputGroup">{{ form_widget(filterForm.isTheOrganiser) }}{{ form_label(filterForm.isTheOrganiser) }}</div>
            <div class="inputGroup">{{ form_widget(filterForm.eventAttendenceTrue) }}{{ form_label(filterForm.eventAttendenceTrue) }} </div>
            <div class="inputGroup">{{ form_widget(filterForm.eventAttendenceFalse) }}{{ form_label(filterForm.eventAttendenceFalse) }} </div>
            <div class="inputGroup">{{ form_widget(filterForm.pastEvent) }} {{ form_label(filterForm.pastEvent) }} </div>
        </div>
        {{ form_end(filterForm) }}
    </div>

    <div id="tableEvent">

        <table  style="display: block; height: 500px; overflow-y: auto">
            <thead>
            <td>Nom de la sortie</td>
            <td>Date de la sortie</td>
            <td>Cloture</td>
            <td>Inscrits/Places</td>
            <td>Etat</td>
            <td>Inscrit</td>
            <td>Organisateur</td>
            <td>Actions</td>
            </thead>
            <tbody>

            {% for event in events %}


                {% if event.status != 'Historisée' and event.status!= 'En création' %}

                        <tr>
                            <td>{{ event.name }}</td>
                            <td>{{ event.startsAt | date('d-m-y à H:i') }}</td>
                            <td>{{ event.cutOffDate | date('d-m-y') }}</td>
                            <td>{{ event.eventAttendence | length }}/{{ event.capacity }}</td>
                            <td>{{ event.status }}</td>
                            <td>


                                {% if app.user in event.eventAttendence %}
                                    <i class="fa-solid fa-check" id="checkInscription"></i>

                                {% endif %}


                            </td>
                            <td><a href="{{ path('participant_profile', {'id': event.organiser.id}) }}">{{ event.organiser.username }}</a></td>
                            <td>
                                {% if app.user == event.organiser %}

                                    {% if event.reason is null %}
                                        {% if event.status == 'En création' %}
                                            <a href="{{ path('event_detail', {'id': event.id}) }}"
                                               title="modifier la sortie">

                                                Modifier </a>
                                            <a href="{{ path('event_removeEvent', {'id': event.id}) }}"
                                               title="Supprimer la sortie">

                                                - Supprimer </a>
                                        {% elseif event.status == 'Ouverte' %}
                                            <a href="{{ path('event_detail', {'id': event.id}) }}"
                                               title="afficher la sortie">

                                                Afficher </a>

                                            <a href="{{ path('event_cancel', {'id': event.id}) }}"
                                               title="Annuler la sortie">

                                                - Annuler </a>
                                        {% else %}
                                            <a href="{{ path('event_detail', {'id': event.id}) }}"
                                               title="afficher la sortie">

                                                Afficher </a>

                                        {% endif %}
                                    {% endif %}
                                    {% if event.reason is not null %}
                                        <a href="{{ path('event_detail', {'id': event.id}) }}"
                                           title="afficher la sortie">

                                            Afficher </a>
                                    {% endif %}

                                {% endif %}

                                {% if app.user != event.organiser %}
                                    <a href="{{ path('event_detail', {'id': event.id}) }}"
                                       title="voir le détail de la sortie">
                                        Afficher </a>

                                    {% if event.status == 'Ouverte' %}


                                        {% if app.user not in event.eventAttendence %}
                                            <a href="{{ path('event_participate', {'id': event.id}) }}"> S'inscrire </a>
                                        {% else %}
                                            <a href="{{ path('event_removeParticipate', {'id': event.id}) }}">Se
                                                désister</a
                                        {% endif %}
                                    {% endif %}

                                {% endif %}

                            </td>
                        </tr>

{% elseif event.status=='En création' and app.user==event.organiser %}
    <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.startsAt | date('d-m-y à H:i') }}</td>
        <td>{{ event.cutOffDate | date('d-m-y') }}</td>
        <td>{{ event.eventAttendence | length }}/{{ event.capacity }}</td>
        <td>{{ event.status }}</td>
        <td>


            {% if app.user in event.eventAttendence %}
                <i class="fa-solid fa-check" id="checkInscription"></i>

            {% endif %}


        </td>
        <td>{{ event.organiser.username }}</td>
        <td>

                        <a href="{{ path('event_modify', {'id': event.id}) }}"
                           title="modifier la sortie">

                            Modifier </a>
                        <a href="{{ path('event_removeEvent', {'id': event.id}) }}"
                           title="Supprimer la sortie"> Supprimer</a>

        </td>
    </tr>
                {% endif %}

            {% endfor %}
            </tbody>

        </table>
    </div>

    <div>
        <a href="{{ path('event_create') }}" title="créer une sortie"><button id="buttonCreateEvent">Créer une sortie</button></a>
    </div>

{% endblock %}

