{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{asset('css/profile.css')}}" >
{% endblock %}

{% block header %}Profil de {{ participant.userName }}{% endblock %}

{% block body %}
    <div class="profile">
        <div class="profile-img-container">
            {% if participant.image %}
                <img id="profile-img" src="{{ asset('uploads/images/' ~ participant.image) }}" alt=""{{ participant.image }}>
            {% else %}
                <div>
                    <img src="{{ asset('uploads/images/avatar-62d7d06dc443b.jpg') }}" alt="default image" }}>
                </div>
            {% endif %}
        </div>
        <div class="profile-form">
            <div class="profile-input">
                <div>
                    <div>Pseudo</div>
                    <div>{{ participant.userName }}</div>
                </div>
                <div>
                    <div>Prénom</div>
                    <div>{{ participant.firstName }}</div>
                </div>
                <div>
                    <div>Nom</div>
                    <div>{{ participant.surname }}</div>
                </div>
                <div>
                    <div>Téléphone</div>
                    <div>{{ participant.telephone }}</div>
                </div>
                <div>
                    <div>Email</div>
                    <div>{{ participant.email }}</div>
                </div>
                <div>
                    <div>Campus</div>
                    <div>{{ participant.campus.name }}</div>
                </div>
            </div>
            <div class="profile-btn">
                <div class="profile-submit">
                    <a href="#">Retour</a>
                </div>
            </div>
        </div>
    </div>








{% endblock %}
