{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{asset('css/profile.css')}}" >
{% endblock %}

{% block header %}Mon profil{% endblock %}

{% block body %}
{{form_start(profileForm)}}
    <div class="profile">
        <div class="profile-img-container">
            {% if app.user.image %}
                <img id="profile-img" src="{{ asset('uploads/images/' ~ app.user.image) }}" alt=""{{ app.user.image }}>
            {% else %}
                <div>
                    <img id="profile-img" src="{{ asset('uploads/images/avatar-62d7d06dc443b.jpg') }}" alt="default image" }}>
                </div>
            {% endif %}
            <div class="profile-selectImage">
                <span id="modify">Modifier ma photo</span>
                {{ form_widget(profileForm.image) }}
            </div>
        </div>
        <div class="profile-form">
            <div class="profile-input">
                <div class="profile-row">
                    <div class="profile-label">Pseudo : </div>
                    {{ form_widget(profileForm.userName) }}
                </div>
                <div class="profile-row">
                    <div class="profile-label">Prénom : </div>
                    {{ form_widget(profileForm.firstName) }}
                </div>
                <div class="profile-row">
                    <div class="profile-label">Nom : </div>
                    {{ form_widget(profileForm.surname) }}
                </div>
                <div class="profile-row">
                    <div class="profile-label">Téléphone : </div>
                    {{ form_widget(profileForm.telephone) }}
                </div>
                <div class="profile-row">
                    <div class="profile-label">Email : </div>
                    {{ form_widget(profileForm.email) }}
                </div>
                    {{ form_widget(profileForm.password) }}
                <div class="profile-row">
                    <div class="profile-label">Campus : </div>
                    {{ form_widget(profileForm.campus) }}
                </div>
            </div>
            <div class="profile-btn">
                <div class="profile-submit">
                    {{ form_row(profileForm.submit) }}
                </div>
                <div class="profile-reset">
                    {{ form_row(profileForm.reset) }}
                </div>
            </div>
        </div>
    </div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{label}}">{{message}}</div>
        {% endfor %}
    {% endfor %}
    <div class="profile-btn">
        <div class="profile-submit">
            <a id="profile_back" class="profile-btn"  href="{{ path('participant_profile') }}">Retour</a>
        </div>
    </div>
{{ form_end(profileForm) }}
{% endblock %}
