{% extends 'base.html.twig' %}

{% block extrastyles %}
    <link rel="stylesheet" href="{{asset('css/profile.css')}}" >
{% endblock %}

{% block header %}
    {% if(participant.id == app.user.id) %}
        Mon profil
    {% else %}
        Profil de {{ participant.userName }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="profile">
        <div class="profile-img-container">
            {% if participant.image %}
                <img id="profile-img" src="{{ asset('uploads/images/' ~ participant.image) }}" alt=""{{ participant.image }}>
            {% else %}
                <div>
                    <img id="profile-img" src="{{ asset('uploads/images/avatar-62d7d06dc443b.jpg') }}" alt="default image" }}>
                </div>
            {% endif %}
        </div>
        <div class="profile-form">
            <div class="profile-input">
                <div class="profile-row">
                    <div class="profile-label">Pseudo : </div>
                    <div class="profile-info">{{ participant.userName }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Prénom : </div>
                    <div class="profile-info">{{ participant.firstName }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Nom : </div>
                    <div class="profile-info">{{ participant.surname }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Téléphone : </div>
                    <div class="profile-info">{{ participant.telephone }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Email : </div>
                    <div class="profile-info">{{ participant.email }}</div>
                </div>
                <div class="profile-row">
                    <div class="profile-label">Campus : </div>
                    <div class="profile-info">{{ participant.campus.name }}</div>
                </div>
            </div>
        {% if(participant.id == app.user.id) %}
        <div class="profile-btn">
            <div class="profile-submit">
                <a id="profile_modify" class="profile-btn" href="{{ path('participant_profile-update') }}">Modifier</a>
            </div>
            <div class="profile-submit">
                <a id="profile_back" class="profile-btn"  href="{{ path('event_list') }}">Retour</a>
            </div>
        </div>
        {% else %}
            <div class="profile-btn">
                <div class="profile-submit">
                    <a id="profile_back" class="profile-btn"  href="{{ path('event_list') }}">Retour</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}