
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/event.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asul&family=PT+Sans+Caption:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <header>
                <section class="">
                    <a href="{{ path('event_list') }}" class="header-logo">
                        <img src="{{ asset('img/logo-svg-2.svg') }}" alt="Logo-cocktail" class="logo">
                    </a>
                </section>
                <section class="page-title">
                    <h1>{% block title %} Welcome {% endblock %}</h1>
                </section>
        </header>
        {% if app.user %}
        {% include('inc/nav.html.twig') %}
        {% endif %}
        <main>
                {% block body %}
                {% endblock %}
        </main>
        <footer>
                <p>&copy; Sortir.fr {{ "now"|date('Y')}}</p>
        </footer>
    </div>
</body>
</html>