<nav>
    <ul>
        {% if is_granted("ROLE_ADMIN")%}
            <li><a href="{{ path('') }}" tittle="Ville">Ville</a></li>
            <li><a href="{{ path('') }}" tittle="Campus">Campus</a></li>
        {% endif %}
        {% if app.user %}
            <li><a href="{{path('event_list')}}" title="Home">Home</a></li>
            <li>Welcome {{ app.user.userName }}</li>
            <li><a href="{{path('participant_profile')}}"  title="Profile">My profile</a></li>
            <li><a href="{{path('participant_logout')}}"  title="Logout">Logout</a></li>
        {% endif %}
    </ul>
</nav>