<nav>
    <ul>
        {#
        <li id="username">{{ app.user.userName }}</li>
        #}
        {% if is_granted("ROLE_ADMIN")%}
            <li class="nav-link"><a href="{{ path('') }}" tittle="Ville">Ville</a></li>
            <li class="nav-link"><a href="{{ path('') }}" tittle="Campus">Campus</a></li>
        {% endif %}
            <li class="nav-link"><a href="{{path('event_list')}}" title="Home">Home</a></li>
            <li class="nav-link"><a href="{{path('participant_profile')}}"  title="Profile">My profile</a></li>
            <li class="nav-link"><a href="{{path('participant_logout')}}"  title="Logout">Logout</a></li>
    </ul>
</nav>